# Non RobotPy packages, some are required by RobotPy because for simplicity we don't pin them,
# just explicitly list that they are required
attrs
astroid
bcrypt
cffi
click
cryptography
lazy-object-proxy
iniconfig
isort
mccabe
pluggy
packaging
paramiko
pint
platformdirs
py
pycparser
pynacl
pyparsing
pyyaml
pylint
pytest
six
toml
typing-extensions
wheel
wrapt
# RobotPy packages.  We explicitly list the version number on all these packages so that when RobotPy
# updates we don't break the world until we have a chance to test/update.
pyfrc==2021.1.2
pynetconsole==2.0.2
pynetworktables==2021.0.0.0
pyntcore==2021.3.1.0
robotpy-commands-v2==2021.3.1.0
robotpy-ctre==2021.2.2
robotpy-hal==2021.3.1.0
robotpy-halsim-gui==2021.3.1.0
robotpy-installer==2021.0.5
robotpy-navx==2021.1.1.0
robotpy-wpimath==2021.3.1.0
robotpy-wpiutil==2021.3.1.0
wpilib==2021.3.1.0

