# Non RobotPy packages, some are required by RobotPy because for simplicity we don't pin them,
# just explicitly list that they are required
attrs
astroid
bcrypt
cffi
click
cryptography
lazy-object-proxy
iniconfig
isort
mccabe
pluggy
packaging
paramiko
pint
platformdirs
py
pycparser
pynacl
pyparsing
pyyaml
pylint
pytest
six
toml
typing-extensions
wheel
wrapt
# RobotPy packages.  We explicitly list the version number on all these packages so that when RobotPy
# updates we don't break the world until we have a chance to test/update.
pyfrc==2022.0.2
pynetconsole==2.0.2
pynetworktables==2021.0.0
pyntcore==2022.2.1.2
robotpy-commands-v2==2022.2.1.1
robotpy-ctre==2022.0.5
robotpy-hal==2022.2.1.1
robotpy-halsim-gui==2022.2.1.0
robotpy-installer==2022.0.2
robotpy-navx==2022.0.1
robotpy-wpimath==2022.2.1.4
robotpy-wpiutil==2022.2.1.1
wpilib==2022.2.1.5

