# RobotPy packages without pinning, solely to be used for upgrading the main requirements.txt file.
pyfrc
pynetconsole
pynetworktables
pyntcore
robotpy-commands-v2
robotpy-ctre
robotpy-hal
robotpy-halsim-gui
robotpy-installer
robotpy-navx
robotpy-wpimath
robotpy-wpiutil
wpilib

